body {
    user-select: none;
    
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    --text-color: black;
    --background-color: white;
    
    --background-light: rgba(255, 255, 255, .2);
}

.word {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Flamenco', sans-serif;
    line-height: 0.8em;

    text-transform: uppercase;
    text-align: center;
    width: calc(100% - 20px);
    height: calc(100% - 150px);
    
    max-width: 500px;
    max-height: 500px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    background: var(--background-color);
    color: var(--text-color);
    
    border-radius: 10px;
}

.word div {
    padding: 20px;
}

.word div + div {
    border-top: 2px solid #DEDEDE;
}

.words {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Asap', sans-serif;
    font-size: 1.2em;

    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    max-height: calc(100% - 150px);
    overflow-y: auto;
    width: 100%;
}

.words li {
    counter-increment: wordindex;
    padding: 6px 0;
    color: white;
}

.words li:nth-child(odd) {
    background: var(--background-light);
}

.words li::before {
    content: counter(wordindex);
    position: absolute;
    left: 10px;
}

.count {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px 0;

    font-family: 'Asap', sans-serif;
    font-size: 2em;

    text-align: center;
    
    color: white;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    padding: 10px 0;
    justify-content: center;
}

nav button {
    font-family: 'Asap', sans-serif;
    font-size: 1.4em;

    text-transform: uppercase;

    background: var(--background-light);
    color: white;

    padding: 10px 20px;

    margin: 0 10px;

    border: 0;
    border-radius: 5px;
    
    height: 72px;
    box-sizing: border-box;

    cursor: pointer;
}
